html, body {
    background: #383b40;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.container {
    background: #1f2023;
    padding: 0;
}

.form-control:focus {
    box-shadow: none;
    outline: none;
    border: none;
}


/* меню */

.navbar {
    background: #1f2023;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: #fff;
}

.dropdown-menu {
    background: #1f2023;
    border: solid 1px #383b40;
}

a.dropdown-item:hover {
    background: #383b40;
}

a.dropdown-toggle:focus {
    color: #ffa856;
}

.navbar-toggler {
    border: #777777 solid 1px;
    color: #fff;
}

a.navbar-brand {
    font-weight: 200;
}

.logo {
    margin: 0 5px 0 0;
    height: 25px;
}


/* главная страница, окно добавления нового поста */

.add-post-img {
    background: url("/static/main/img/main.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 35px;
}

.add-post {
    background: rgba(31, 32, 35, 0.85);
    padding: 20px;
}

.add-post-heading {
    padding: 0 0 5px 0;
}

.add-post h4 {
    text-align: center;
}

.btn-success {
    background: rgb(88, 148, 39);
    border: none;
}

button.btn-success:hover {
    background: rgb(77, 126, 37);
}

.links {
    text-decoration: none;
    color: #ffa856;
}

a.links:hover {
    color: #cf8138;
}


/* главная страница, пагинация */

li.page-item.disabled a.page-link {
    color: #777777;
    background: #1f2023;
    border: #777777 solid 1px;
}

li.page-item a.page-link {
    border: #777777 solid 1px;
    background: #1f2023;
    color: #ffa856;
}

li.page-item a:hover {
    background: #35363a;
}

.page-link {
    font-size: medium;
}


/* главная страница, последние публикации */

h3.last-posts-heading {
    margin: 0 0 10px 0;
    font-weight: 200;
}

.posts {
    padding: 15px;
}

.post {
    padding: 15px 15px 15px 15px;
    margin: 0 0 15px 0;
    background-color: rgb(19, 20, 22);
    font-size: 0;
}

.post-author-pic {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
    margin: 0 10px 8px 0;
    float: left;
}

.post-info {
    margin: 0 0 0 70px;
}

.post-author {
    color: #ffa856;
    text-decoration: none;
}

.post-author:hover {
    color: #cf8138;
}

.post-date {
    color: #a1a1a1;
    font-size: 14px;
    text-decoration: none;
}

.vertical-bar {
    color: #a1a1a1;
    font-size: 14px;
}

.delete-post {
    color: #a1a1a1;
    font-size: 14px;
}

.delete-post:hover {
    color: #cccccc;
}

.post-text {
    font-size: 17px;
    margin: 5px 0 0 0;
}

.post-photos {
    margin: 0 0 0 68px;
}

@media (max-width: 576px) {
    .post-photos {
        margin: 0;
    }
}

.post-photo {
    height: 200px;
    object-fit: cover;
    margin: 0 0 4px 0;
    padding: 0 2px 0 2px;
}

@media (max-width: 1400px) {
    .post-photo {
        height: 180px;
    }
}

@media (max-width: 992px) {
    .post-photo {
        height: 140px;
    }
}

@media (max-width: 576px) {
    .post-photo {
        display: block;
        max-width: 280px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.modal-content {
    background: #1f2023;
    border: none;
}

.btn-close {
    float: right;
    font-size: medium;
    margin: 0 0 7px 0;
}

.comments-count {
    margin: 7px 0 0 70px;
    font-size: 16px;
}

.icon {
    height: 20px;
}


/* профиль */

.profile {
    background-color: rgb(19, 20, 22);
    min-height: 230px;
    padding: 15px;
}

@media (max-width: 576px) {
    .profile {
        min-height: 110px;
    }
}

.profile-photo {
    display: inline;
    width: 200px;
    height: 200px;
    object-fit: cover;
    float: left;
}

@media (max-width: 576px) {
    .profile-photo {
        width: 80px;
        height: 80px;
    }
}

.profile-info {
    margin: 0 0 0 215px;
}

@media (max-width: 576px) {
    .profile-info {
        margin: 0 0 0 95px;
    }
}

.profile-link {
    color: #ffa856;
    text-decoration: none;
}

a.profile-link:hover {
    color: #cf8138;
}

.profile-link-disabled {
    color: #777777;
}

.profile-link-disabled:hover {
    cursor: default;
}

.profile-bio {
    margin: 7px 0 0 0;
}


/* редактирование профиля и аккаунта */

.edit-profile-heading {
    background-color: rgb(19, 20, 22);
    padding: 15px;
}

.edit-profile {
    padding: 15px;
    max-width: 600px;
}

.edit-profile a{
    color: #ffa856;
    text-decoration: none;
}

.edit-profile a:hover{
    color:#cf8138;
}


/* страница конкретной публикациии */

.add-comment {
    padding: 15px;
}

.add-comment form {
    max-width: 600px;
}

.comments {
    padding: 15px;
}

.comment {
    background: rgb(19, 20, 22);
    padding: 10px;
    margin: 0 0 15px 0;
    max-width: 600px;
}

.comment-author-pic {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
    float: left;
}

.comment-info {
    margin: 0 0 0 50px;
}

.comment-date {
    color: #a1a1a1;
    font-size: 14px;
}

.delete-comment {
    color: #a1a1a1;
    font-size: 14px;
}

.delete-comment:hover {
    color: #cccccc;
}

.about {
    background: rgb(19, 20, 22);
    padding: 20px 15px 20px 15px;
}

.link {
    text-decoration: none;
    color: #ffa856;
}

.link:hover {
    color: #cf8138;
}